################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CallingP2PApisSample/bin/Debug
/CallingP2PApisSample/obj
/packages
